<div>
    <h1 ng-if="ngModel.title" class="{{ngModel.title.class.constant + ' ' + ngModel.title.class.animation + ngModel.title.class.direction + ' ' + ngModel.title.class.delay}}">{{ngModel.title.content}}</h1>
    <p ng-if="ngModel.content" class="{{ngModel.content.class.constant + ' ' + ngModel.content.class.animation + ngModel.content.class.direction + ' ' + ngModel.content.class.delay}}">{{ngModel.content.content}}</p>
    <img ng-if="ngModel.image" class="{{ngModel.image.class.constant + ' ' + ngModel.image.class.animation + ngModel.image.class.direction + ' ' + ngModel.image.class.delay}}" ng-src="{{ngModel.image.src}}" alt="" />
</div>
 