<div class="com" >

  <!--Contents-->
  <div class="com__content">
    <div ng-repeat="content in contents">
      <section ng-if="!content.isHalf" class="{{content.content_class}}" >
        <single-page-view ng-model="content"></single-page-view>
      </section>
      <section ng-if="content.isHalf" class="{{content.content_class}}" >
        <div class="com__section-half">
          <single-page-view ng-model="content.content.sideB"></single-page-view>
        </div>
        <div class="com__section-half">
          <single-page-view ng-model="content.content.sideA"></single-page-view>
      </div>
      </section>
    </div>
  </div>

  <!--navs-->
  <nav class="com__nav">
    <ul class="com__nav-list">
      <li class="com__nav-item" ng-repeat="content in contents" >
        <a ng-if="!content.isHalf" href="" class="{{content.nav.class}}" ng-click="editPage(content);">
          <span ng-repeat="thumb in content.nav.thumbs" class="{{thumb.class}}"></span>
        </a>
        <a ng-if="content.isHalf" href="" class="{{content.nav.class}}" ng-click="editPage(content);">
          <div class="com__section-half">
            <span ng-repeat="thumb in content.nav.sideA.thumbs" class="{{thumb.class}}"></span>
          </div>
          <div class="com__section-half">
            <span ng-repeat="thumb in content.nav.sideB.thumbs" class="{{thumb.class}}"></span>
          </div>
        </a>
      </li>
    </ul>
  </nav>

  <page-customize></page-customize>
</div>