<div>
    <div layout layout-sm="column" ng-if="ngModel.title">
        <md-input-container flex>
            <label>Title</label>
            <input ng-model="ngModel.title.content">
        </md-input-container>
        <md-input-container>
            <label>Animation</label>
            <md-select ng-model="ngModel.title.class.animation">
                <md-option ng-repeat="class in animationClass" value="{{class.Value}}">{{class.Key}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Direction</label>
            <md-select ng-model="ngModel.title.class.direction">
                <md-option ng-repeat="class in directionClass" value="{{class.Value}}">{{class.Key}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Delay</label>
            <md-select ng-model="ngModel.title.class.delay">
                <md-option ng-repeat="class in delayClass" value="{{class.Value}}">{{class.Key}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <div layout layout-sm="column" ng-if="ngModel.content">
        <md-input-container flex>
            <label>Content</label>
            <input ng-model="ngModel.content.content">
        </md-input-container>
        <md-input-container>
            <label>Animation</label>
            <md-select ng-model="ngModel.content.class.animation">
                <md-option ng-repeat="class in animationClass" value="{{class.Value}}">{{class.Key}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Direction</label>
            <md-select ng-model="ngModel.content.class.direction">
                <md-option ng-repeat="class in directionClass" value="{{class.Value}}">{{class.Key}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Delay</label>
            <md-select ng-model="ngModel.content.class.delay">
                <md-option ng-repeat="class in delayClass" value="{{class.Value}}">{{class.Key}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <div layout layout-sm="column" ng-if="ngModel.image">
        <md-input-container flex>
            <label>Image</label>
            <input ng-model="ngModel.image.src">
        </md-input-container>
        <md-input-container>
            <label>Animation</label>
            <md-select ng-model="ngModel.image.class.animation">
                <md-option ng-repeat="class in animationClass" value="{{class.Value}}">{{class.Key}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Direction</label>
            <md-select ng-model="ngModel.image.class.direction">
                <md-option ng-repeat="class in directionClass" value="{{class.Value}}">{{class.Key}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Delay</label>
            <md-select ng-model="ngModel.image.class.delay">
                <md-option ng-repeat="class in delayClass" value="{{class.Value}}">{{class.Key}}</md-option>
            </md-select>
        </md-input-container>
    </div>
</div>